<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!--Header-->
	
	<%- include('partials/_header')%>

		

	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1" style="background-image: url(images/slide007.png);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2">
								Crystal clear calling with ENx Technology
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                    boAt Rockerz 425 
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url(images/slide008.png);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Beast Mode For Gamers
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									boAt Airdopes Alpha
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url(images/slide0010.png);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-101 cl2 respon2" style="color: white !important;">
                                    50W boAt Signature Sound: Thumping Passive Radiators
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight"  data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1 "  style="color: white !important">
									Stone 1500
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Banner -->
	<div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="images/banner001.png" alt="IMG-BANNER">

						<a href="/shop" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Wireless
								</span>

								<span class="block1-info stext-102 trans-04">
									HeadPhones
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="images/banner007.png" alt="IMG-BANNER">

						<a href="/shop" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Bluetooth
								</span>

								<span class="block1-info stext-102 trans-04">
									Speakers
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="images/banner004.png" alt="IMG-BANNER">

						<a href="/shop" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									SmartWatches
								</span>

								<span class="block1-info stext-102 trans-04">
									New Trend
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Product Overview
				</h3>
			</div>

			<body>
                <div class="flex-w flex-sb-m p-b-52">
                    
                  </div>
                  
         
				
			
                  <div class="row isotope-grid">
                    <% products.forEach(function(product) { %>
                      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item <%= product.category %>">
                        <!-- Card Container with Shadow -->
                        <div class="card shadow border-light rounded">
                          <!-- Product Image -->
                          <div class="card-img-top block2-pic hov-img0">
                           <a href="/product-detail/<%= product.id %>"> <img src="/<%= product.images[0] %>" alt="IMG-PRODUCT" class="img-fluid rounded-top"></a>
                          </div>
                      
                          <!-- Card Body -->
                          <div class="card-body">
                            <!-- Product Name -->
                            <h5 class="card-title">
                              <a href="" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                <%= product.name %>
                              </a>
                            </h5>
                      
                            <!-- Product Category -->
                            <p class="card-text">
                              <span class="stext-105 cl3"><%= product.categoryName %></span>
                            </p>
                      
                            <!-- Product Price -->
                            <p class="card-text">
                              <span class="stext-105 cl3">₹<%= product.price %></span>
                            </p>
                      
                            <!-- Product Colors -->
                            <div class="colors d-flex mb-3">
                              <% product.colors.forEach(function(color) { %>
                                <div class="color-dot color-<%= color.toLowerCase() %> mr-2"></div>
                              <% }); %>
                            </div>
                      
                            <!-- Add to Wishlist and Add to Cart Buttons -->
                            <div class="card-footer d-flex justify-content-between bg-transparent border-top-0">
								<% if (user) { %>
									<button class="btn btn-outline-danger btn-sm">
										<i class="bi bi-heart"></i> Wishlist
									</button>
									<button class="btn btn-outline-primary btn-sm add-to-cart" 
										data-image="<%= product.images[0] %>" 
										data-id="<%= product._id %>" 
										data-name="<%= product.name %>" 
										data-price="<%= product.price %>">
										<i class="bi bi-cart"></i> Add to Cart
									</button>
								<% } else { %>
									<a href="/login" class="d-flex align-items-center">
										<button class="btn btn-outline-danger btn-sm">
											<i class="bi bi-heart"></i> Wishlist
										</button> &nbsp; &nbsp;
										<button class="btn btn-outline-primary btn-sm">
											<i class="bi bi-cart"></i> Add to Cart
										</button>
									</a>
								<% } %>
							</div>
                          </div>
                        </div>
                      </div>
                    <% }); %>
                  </div>
                  
                  
                  
                  
                  

			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45">
				<a href="/shop" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Shop More
				</a>
			</div>
		</div>
	</section>


	<!--footer-->


	<%- include('partials/_footer')%>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/slick/slick.min.js"></script>
	<script src="javascripts/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});





    //add to cart 

	document.querySelectorAll('.add-to-cart').forEach(button => {
    button.addEventListener('click', function() {
        const productId = this.getAttribute('data-id');

        // Check product stock before adding to cart
        checkStock(productId)
            .then(response => {
                if (response.inStock) {
                    const product = {
                        id: productId,
                        name: this.getAttribute('data-name'),
                        price: parseFloat(this.getAttribute('data-price')),
                        productImage: this.getAttribute('data-image')
                    };

                    // Check if adding would exceed stock
                    if (response.userQuantity < response.availableStock) {
                        addToCart(product)
                            .then(() => {
                                // Check for limited stock after adding
                                if (response.userQuantity + 1 > 5) {
                                    showLimitedStockAlert(`You already have 5 in your cart.`);
                                }
                            });
                    } else {
                        showOutOfStockAlert();
                    }
                } else {
                    showOutOfStockAlert();
                }
            })
            .catch(error => {
                console.error('Error checking stock:', error);
            });
    });
});

// Check product stock function
function checkStock(productId) {
    return axios.post(`/cart/check-stock/${productId}`)
        .then(response => response.data)
        .catch(error => {
            console.error('Error checking stock:', error);
            return { inStock: false, userQuantity: 0, availableStock: 0 };
        });
}

// Add to cart function

const number = document.getElementById('btn.value')
console.log(number);

function addToCart(product) {
    const cartItem = {
        productId: product.id,
        name: product.name,
        price: product.price,
        quantity: 1,
        imageUrl: product.productImage
    };

    return axios.post(`/cart/add/${window.userId}`, cartItem)
        .then(response => {
            showSuccessAlert('Product added to cart successfully!');
        })
        .catch(error => {
            console.error('Error adding to cart:', error);
            showLimitedStockAlert('You already have limited product in your cart.');
        });
}

// Show out of stock alert
function showOutOfStockAlert() {
    Swal.fire({
        icon: 'warning',
        title: 'Out of Stock',
        text: 'This product is currently unavailable.',
        confirmButtonText: 'OK'
    });
}

// Function to show the limited stock alert
function showLimitedStockAlert(message) {
    Swal.fire({
        icon: 'info',
        title: 'Limited Stock',
        text: message,
        confirmButtonText: 'OK'
    });
}

// Function to show the success alert
function showSuccessAlert(message) {
    Swal.fire({
        icon: 'success',
        title: 'Success',
        text: message,
        confirmButtonText:'OK'
});
} 



	</script>
<!--===============================================================================================-->
	<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/---------------------------------------------/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="javascripts/main.js"></script>




</body>
</html>